@font-face {
  font-family: 'fontello';
  src: url('fontello.woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: arial;
  font-size: 12px;
  display: flex;
  margin: 0;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
}
iframe {
  border: none;
  flex: 1;
}
#toolbar {
  display: flex;
  background-color: #EC1C24;
  color: #fff;
}
#toolbar div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
#menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
#menu:before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-family: 'fontello';
  content: "\e800";
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
}
#menu[data-active=true],
#menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#menu:active {
  background-color: rgba(0, 0, 0, 0.3);
}
#menu ul {
  position: absolute;
  right: 0;
  top: 20px;
  width: 120px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  color: #000;
}
#menu li {
  padding: 3px 5px;
}
#menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#menu:not([data-active=true]) ul {
  display: none;
}
body:not([data-type=token]) #menu li:nth-child(1),
body:not([data-type=token-not-implimented]) #menu li:nth-child(2),
body:not([data-type=token-not-implimented]) #menu li:nth-child(3) {
  opacity: 0.5;
  pointer-events: none;
}
